div.Jogo {
    width: 350px;
    height: 350px;
    border-radius: 30px;
    background: #212121;
    box-shadow: 15px 15px 30px rgb(25, 25, 25), -15px -15px 30px rgb(60, 60, 60);
    position: relative;
    display: flex;
    flex-direction: column;
    place-items: center;
    overflow: hidden;
}

div.Tabuleiro {
    flex: 0.5;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
    height: 100%;
}

div.LinhaTabuleiro {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 35%;
}
